---
name: Internal - Main - Continuous Integration

on:
  push:
    branches: [main]
    tags: ["*"]

  workflow_dispatch:

  schedule:
    - cron: "25 8 * * 1"

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  clean:
    uses: hoverkraft-tech/ci-github-container/.github/workflows/prune-pull-requests-images-tags.yml@a0bab9151cc074af9f6c8204ab42a48d2d570379 # 0.30.6
    permissions:
      contents: read
      id-token: write
      packages: write
      pull-requests: read
    with:
      images: '["cli"]'

  ci:
    uses: ./.github/workflows/__shared-ci.yml
    permissions:
      actions: read
      contents: read
      id-token: write
      issues: read
      packages: write
      pull-requests: write
      security-events: write
      statuses: write
    secrets: inherit
    with:
      sign-images: true

  npm-publish:
    needs: ci
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup Node.js
        uses: hoverkraft-tech/ci-github-nodejs/actions/setup-node@c9d9d041ba4ef35695ee469c4782fa6a8bbebbcc # 0.21.2

      - name: Download package tarball
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          artifact-ids: ${{ needs.ci.outputs.package-tarball-artifact-id }}
          path: .

      - name: Publish CLI to npm
        run: |
          # Write .npmrc file
          echo "//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}" > ~/.npmrc

          tag="${{ github.ref_name }}"

          npm publish ci-dokumentor-cli-*.tgz --provenance --access public --tag "@ci-dokumentor/cli@$tag"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  docs:
    if: github.event_name != 'schedule'
    needs: ci
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.url }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          artifact-ids: ${{ needs.ci.outputs.build-artifact-id }}
          path: /

      - id: generate-readme
        uses: ./
        with:
          ci-dokumentor-version: ${{ needs.ci.outputs.image-tag }}
          source: action.yml
          exclude-sections: header,overview,usage,inputs,outputs,secrets
          extra-badges: |
            [
              {
                "label": "Total Downloads",
                "url": "https://img.shields.io/npm/dm/@ci-dokumentor/cli",
                "linkUrl": "https://www.npmjs.com/package/@ci-dokumentor/cli"
              },
              {
                "label": "Coverage Status",
                "url": "https://codecov.io/gh/hoverkraft-tech/ci-dokumentor/branch/main/graph/badge.svg",
                "linkUrl": "https://codecov.io/gh/hoverkraft-tech/ci-dokumentor"
              },
              {
                "label": "Continuous Integration",
                "url": "https://github.com/hoverkraft-tech/ci-dokumentor/actions/workflows/main-ci.yml/badge.svg",
                "linkUrl": "https://github.com/hoverkraft-tech/ci-dokumentor/actions/workflows/main-ci.yml"
              }
            ]
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - id: generate-docs
        uses: ./
        with:
          ci-dokumentor-version: ${{ needs.ci.outputs.image-tag }}
          source: action.yml
          destination: packages/docs/content/integrations/github-action.md
          exclude-sections: header,badges,overview,contributing,security,license,generated
          github-token: ${{ secrets.GITHUB_TOKEN }}
          format-link: full

      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: generate-token
        with:
          app-id: ${{ vars.CI_BOT_APP_ID }}
          private-key: ${{ secrets.CI_BOT_APP_PRIVATE_KEY }}

      - uses: hoverkraft-tech/ci-github-common/actions/create-and-merge-pull-request@b17226e57c8ef31f860719766656ebb6df017218 # 0.31.6
        with:
          github-token: ${{ steps.generate-token.outputs.token }}
          branch: docs/action-documentation-update
          title: "docs: update action documentation"
          body: Update action documentation
          commit-message: |
            docs: update action documentation

            [skip ci]

      - name: Deploy to GitHub Pages
        id: deployment
        uses: hoverkraft-tech/ci-github-publish/actions/deploy/github-pages@84e8ace407055e7a40ba6670a8c697e1ce2dfafa # 0.20.1
        with:
          build-path: packages/docs/build
